<div class="ui vertical inverted segment footer">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="row">
                <div class="column four wide">
                    <h3>درباره ما</h3>
                    <p>انجمن علمی دانشکده کامپیوتر</p>
                </div>
                <div class="column four wide">
                    <h3>درباره شما</h3>
                    <p>گلای نازنین ایران</p>
                </div>
            </div>
        </div>
    </div>
</div>