<div class="ui vertical inverted segment footer">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="row">
                <div class="column four wide">
                    <h3>درباره ما</h3>
                    <p>انجمن علمی دانشکده کامپیوتر</p>
                    <p>ceit.ssc94[ad]gmail.com</p>
                </div>
                <div class="column three wide">
                    <h3>ما را دنبال کنید</h3>
                    <a href="https://t.me/Autdmc" target="_blank"><i class="telegram icon"></i></a>
                    <a href="https://www.instagram.com/ceit_ssc/" target="_blank"><i class="instagram icon"></i></a>
                    <a href="https://twitter.com/ceit_ssc" target="_blank"><i class="twitter icon"></i></a>
                </div>
                <div class="column nine wide">
                    <div class="ui tiny image">
                        <img src="assets/anjoman-kol.png" alt="">
                    </div>
                    <div class="ui tiny image">
                        <img src="assets/aut.png" alt="">
                    </div>
                    <div class="ui tiny image">
                        <img src="assets/ssc-logo-trans.png" alt="">
                    </div>
                    <div class="ui small image">
                        <img src="assets/efarda-logo-trans.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>