<div class="ui">
    <div #masthead class="ui segment vertical masthead inverted center aligned">
        <div class="ui text container">
            <h1 class="header">
                مسابقات داده‌‌کاوی امیرکبیر
            </h1>
            <h2>
                پاییز ۹۶ - دانشکده مهندسی کامپیوتر و فناوری اطلاعات
            </h2>
        </div>
        
    </div>
    
    <div class="ui segment vertical stripe">
        <div class="ui stackable grid middle aligned container">
            <div class="row">
                <div class="column eight wide">
                    <div class="ui justified container">
                        <p>
                            در سال‌های گذشته انجمن علمی دانشکده‌ مهندسی کامپیوتر و فناوری اطلاعات دانشگاه امیرکبیر
                            با برگزاری مسابقات مختلف در حوزه‌ علوم و مهندسی کامپیوتر تلاش کرده‌ است سطح علمی دانشکده
                            و نیز جامعه‌ی دانشجویان و علاقه مندان به دنياى علوم و مهندسى كامپيوتر، 
                            را در این حوزه بالا ببرد. در این راستا این بار با توجه به افزایش روز افزون تقاضا برای حل مسائل داده‌کاوی،
                            تصمیم به برگزاری این مهم با همکاری برخی اساتید و دانشجویان دانشکده در سطح کشوری گرفته است.
                        </p>
                    </div>
                </div>
                <div class="column six wide">
                    <img src="../../assets/menu-logo.jpg" class="ui large rounded image">
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui segment center aligned vertical middle inverted hashtag-container vertical">
        <div class="ui container">
            <h1 class="hashtag-header">
                AUTDMC#
            </h1>
        </div>
    </div>
    
    <div class="ui segment vertical stripe">
        <div class="ui stackable grid center aligned container">
            <h3>
                برگزار کنندگان
            </h3>
            <div class="row">
                <div class="column eight wide">
                    <a href="http://efarda.ir" target="_blank">
                        <img src="../../assets/efarda-logo.png" class="ui rounded image" alt="ارتباط فردا">
                    </a>
                </div>
                <div class="column eight wide">
                    <a href="http://aut.ac.ir" target="_blank">
                        <img src="../../assets/ssc-land-logo.png" class="ui rounded image" alt="ارتباط فردا">
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui segment vertical stripe quote">
        <div class="ui equal width stackable divided grid internally">
            <div class="center aligned row">
                <div class="column">
                    <h3>مسابقات</h3>
                    <p>مسابقه داده کاوی</p>
                    <button class="ui large button" (click)="pageDimmed=true">اطلاعات بیشتر و ثبت نام</button>
                </div>
                <div class="column">
                    <h3>کارگاه ها</h3>
                    <p>کارگاه های آماده سازی</p>
                    <button class="ui large button" routerLink="/workshop">اطلاعات بیشتر و ثبت نام</button>
                </div>
            </div>
        </div>
    </div>
    
</div>

<app-footer></app-footer>

<sui-dimmer class="page" [(isDimmed)]="pageDimmed">
    <h2 class="ui inverted icon header">
        <i class="lightning icon"></i>
        به زودی
    </h2>
</sui-dimmer>