<div class="ui">
    <div #masthead class="ui segment vertical masthead inverted center aligned">
         <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <div class="item active">
                    <img src="../../assets/menu-logo.jpg" alt="">
                </div>
                <a class="item">کارگاه ها</a>
                <a class="item">مسابقه</a>
            </div>
        </div> 
        
        <div class="ui text container">
            <h1 class="header">
                انجمن علمی دانشکده مهندسی کامپیوتر و فلان
            </h1>
            <h2>مسابقات نمیدونم چی چی خفن</h2>
        </div>
        
    </div>

    <div class="ui segment vertical stripe">
        <div class="ui text container">
            <p>سلام به همه بچه ها ما خوبیم هاهاها</p>
        </div>
    </div>

    <div class="ui segment vertical stripe quote">
        <div class="ui equal width stackable divided grid internally">
            <div class="center aligned row">
                <div class="column">
                    <h3>مسابقات</h3>
                    <p>مسابقه های گولاخ</p>
                </div>
                <div class="column">
                    <h3>کارگاه ها</h3>
                    <p>۴ تا کارگاه داریم ماهِ ماه</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui segment vertical stripe">
        <div class="ui text container">
            <p>سلام به همه بچه ها ما خوبیم هاهاها</p>
        </div>
    </div>
    
</div>

<div class="ui vertical inverted segment footer">
    <div class="ui container">
        <p>تست</p>
        <p>انجمن علمی دانشکده کامپیوتر</p>
    </div>
</div>