 <div #fixedMenu class="ui stackable menu borderless nav-color">
    <div class="ui text container">
        <a routerLink="/landing" routerLinkActive="active" class="item">
            <img src="../../assets/dmc-menu-logo-trans.png" alt="">
        </a>
        <a routerLink="/competition" routerLinkActive="active" class="item" routerLinkActive="active">مسابقه</a>
        <div class="right menu">
            <a class="item" routerLinkActive="active">
                <div class="ui primary button" *ngIf="!haveUser" routerLink="/panel">
                    <i class="sign in icon"></i>
                    ورود
                </div>
                <div *ngIf="haveUser" routerLink="/panel">
                    {{ user.user.name }}
                </div>
            </a>
        </div>
    </div>
</div> 