<div class="ui">
    <div class="ui segment vertical masthead inverted center aligned">
        <div class="ui text container">
            <h1 class="header">
                کارگاه های آماده سازی داده‌کاوی
            </h1>
        </div>
    </div>
    
    <div class="ui segment vertical stripe">
        <div class="ui fluid container workshop-items-container">
            <div class="ui stackable cards five segment piled"> 
                <div class="ui card">
                    <div class="image">
                        <img src="../../assets/python.jpg">
                        <sui-dimmer [(isDimmed)]='isDimmed0' [isClickable]="false">
                            <h3>
                                اضافه شد
                                <i class="checkmark icon"></i>
                            </h3>
                        </sui-dimmer>
                    </div>
                    <div class="content">
                        <div class="header">پایتون مقدماتی</div>
                        <div class="meta">
                            <span class="date">سعید دادخواه</span>
                            <div>
                                <i class="calendar icon"></i>
                                ۲۹-۳۰ شهریور
                                <i class="wait icon"></i>
                                ۹-۱۲
                            </div>
                        </div>
                        <div class="ui container description justified">
                            <p class="workshop-description">
                                در این کارگاه زبان برنامه‌نویسی پایتون معرفی و مطالب و مفاهیم پایه‌ای این زبان بررسی 
                                و آموزش داده خواهد شد. با توجه به این که هدف اصلی آمادگی حضار برای کارگاه‌های بعدی 
                                مربوط به مسابقات داده‌کاوی است، فقط پارادایمِ دستوری (imperative) آموزش داده خواهد شد.
                            </p>
                        </div>
                    </div>
                    <div class="extra content center aligned">
                        <a href="http://educenter.aut.ac.ir/dmcprepython2017" target="_blank" class="ui labeled icon fluid button">
                            <i class="shopping arrow right icon"></i>
                            ثبت نام
                        </a>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="../../assets/datamining.jpg">
                        <sui-dimmer [(isDimmed)]='isDimmed1' [isClickable]="false">
                            <h3>
                                اضافه شد
                                <i class="checkmark icon"></i>
                            </h3>
                        </sui-dimmer>
                    </div>
                    <div class="content">
                        <div class="header">کارگاه تئوری داده کاوی</div>
                        <div class="meta">
                            <span class="date">دکتر ناظر فرد - سجاد اعظمی</span>
                            <div>
                                <i class="calendar icon"></i>
                                ۲۹-۳۰ شهریور
                                <i class="wait icon"></i>
                                ۱۳-۱۶
                            </div>
                        </div>
                        <div class="ui justified container description">
                            <p class="workshop-description">
                                هدف این کارگاه آشنایی با مفاهیم پایه ای در مبحث داده کاوی می باشد. مسائل مختلف در دو دسته ی اصلی با نظارت و بدون نظارت
                                مورد بررسی قرار می گیرند. در انتهای دوره حضار از لحاظ مفاهیم تئوری آمادگی لازم را برای حضور در دوره های عملی پیدا می کنند.
                            </p>
                        </div>
                    </div>
                    <div class="extra content center aligned">
                        <a href="https://educenter.aut.ac.ir/dmcdatamining2017" target="_blank" class="ui labeled icon fluid button">
                            <i class="shopping arrow right icon"></i>
                            ثبت نام
                        </a>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="../../assets/dmpython.png">
                        <sui-dimmer [(isDimmed)]='isDimmed2' [isClickable]="false">
                            <h3>
                                اضافه شد
                                <i class="checkmark icon"></i>
                            </h3>
                        </sui-dimmer>
                    </div>
                    <div class="content">
                        <div class="header">داده کاوی با پایتون</div>
                        <div class="meta">
                            <span class="date">سجاد اعظمی - سینا مختار زاده</span>
                            <div>
                                <i class="calendar icon"></i>
                                ۶ مهر
                                <i class="wait icon"></i>
                                ۹-۱۶
                            </div>
                        </div>
                        <div class="ui justified container description">
                            <p class="workshop-description">
                                در این کارگاه، نحوه استفاده از زبان پایتون و کتابخانه های مرتبط 
                                با هدف حل مسائل داده کاوی و یادگیری ماشین آموزش داده خواهد شد. کتابخانه های
                                numpy، pandas و scikit از جمله ابزار هایی هستند که کاربرد وسیعی در این حوزه دارند و تمرکز اصلی این کارگاه، آموزش استفاده بهینه
                                از این ابزار می باشد.
                            </p>
                        </div>
                    </div>
                    <div class="extra content center aligned">
                        <a href="http://educenter.aut.ac.ir/dmcpythondatamining2017" target="_blank" class="ui labeled icon fluid button">
                            <i class="shopping arrow right icon"></i>
                            ثبت نام
                        </a>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="../../assets/bigdata.jpg">
                        <sui-dimmer [(isDimmed)]='isDimmed3' [isClickable]="false">
                            <h3>
                                اضافه شد
                                <i class="checkmark icon"></i>
                            </h3>
                        </sui-dimmer>
                    </div>
                    <div class="content">
                        <div class="header">کلان داده‍</div>
                        <div class="meta">
                            <span class="date">دکتر امیرحائری</span>
                            <div>
                                <i class="calendar icon"></i>
                                ۱۳ مهر
                                <i class="wait icon"></i>
                                ۹-۱۶
                            </div>
                        </div>
                        <div class="ui justified container description">
                            <p class="workshop-description">
                                در تحلیل کلان داده ها، با داده هایی با حجمی عظیم ( ترابایت یا زتابایت ) و بدون ساختار سر و کار داریم.
                                به دلیل ناتوانی برخی تکنیک های متداول، توسعه تکنیک ها و ایده های جدیدی ملزوم است.
                                در این ارائه متد های متفاوتی برای بهبود ماشین لرنینگ و دیتا ماینینگ برای تحلیل کلان داده ها ارائه خواهند شد.
                            </p>
                        </div>
                    </div>
                    <div class="extra content center aligned">
                        <a href="http://educenter.aut.ac.ir/dmcbigdata2017" target="_blank" class="ui labeled icon fluid button">
                            <i class="shopping arrow right icon"></i>
                            ثبت نام
                        </a>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <a class="ui yellow ribbon label">
                            <i class="gift icon"></i>
                            رایگان
                        </a>
                        <img src="../../assets/bankbig.jpg">
                        <sui-dimmer [(isDimmed)]='isDimmed3' [isClickable]="false">
                            <h3>
                                اضافه شد
                                <i class="checkmark icon"></i>
                            </h3>
                        </sui-dimmer>
                    </div>
                    <div class="content">
                        <div class="header">کلان داده بانکی</div>
                        <div class="meta">
                            <span class="date">مهندس نجفی</span>
                            <div>
                                <i class="calendar icon"></i>
                                ۱۶ مهر
                                <i class="wait icon"></i>
                                ۱۶-۱۷
                            </div>
                        </div>
                        <div class="ui justified container description">
                            <p class="workshop-description">
                                در این کارگاه که با هدف آمادگی برای شرکت در اولین دوره‌ مسابقات داده‌کاوی
                                امیرکبیر با محوریت کاوش کلان‌ داده‌های بانکی برگزار می‌شود
                                ، شرکت‌کنندگان با نوع داده‌های بانکی ارائه شده در مسابقه
                                و میزان اهمیت فاکتور‌های مختلف برای حل مسائل آشنا می‌شوند.
                            </p>
                        </div>
                    </div>
                    <div class="extra content center aligned">
                        <a href="http://educenter.aut.ac.ir/dmcbankbigdata2017" target="_blank" class="ui labeled icon fluid button">
                            <i class="shopping arrow right icon"></i>
                            ثبت نام - رایگان
                        </a>
                    </div>
                </div>
            </div>
            
            
            <div class="ui info message">
                <div class="header">
                    توضیح قیمت گذاری
                </div>
                <p>
                    هزینه هر کارگاه به صورت محاسبه خواهد شد:
                </p>
                <table class="ui very basic table">
                    <tbody>
                        <tr>
                            <!-- <td class="center aligned">
                                <sui-radio-button class="ui fitted checkbox" name="paymentType" [value]=0 [(ngModel)]="paymentRadio" (currentValueChange)="priceChanged()">
                                </sui-radio-button>
                            </td> -->
                            <td>
                                دانشجویان دانشکده کامپیوتر امیرکبیر
                            </td>
                            <td>
                                ۵۰ هزار تومان
                            </td>
                        </tr>
                        <tr>
                            <!-- <td class="collapsing">
                                <div class="field">
                                    <sui-radio-button class="ui fitted checkbox" name="paymentType" [value]=1 [(ngModel)]="paymentRadio" (currentValueChange)="priceChanged()">
                                        
                                    </sui-radio-button>
                                </div>
                            </td> -->
                            <td>
                                دانشجویان دانشگاه امیرکبیر
                            </td>
                            <td>
                                ۷۰ هزار تومان
                            </td>
                        </tr>
                        <tr>
                            <!-- <td class="collapsing">
                                
                                <sui-radio-button class="ui fitted checkbox" name="paymentType" [value]=2 [(ngModel)]="paymentRadio" (currentValueChange)="priceChanged()">
                                    
                                </sui-radio-button>
                                
                            </td> -->
                            <td>
                                آزاد
                            </td>
                            <td>
                                ۱۰۰ هزار تومان
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="detail">
                    <i class="info circle icon"></i>
                    تمام دانشجویانی که در این دوره‌ها ثبت‌نام می‌کنند نیاز به ارائه‌ی شماره‌ی دانشجویی خود دارند.
                    صحت ثبت‌نام هر فرد تنها بعد از تایید کارت دانشجویی آن‌ها انجام می‌گیرد. اما ثبت‌نام آزاد نیازی به ارائه‌ی کارت دانشجویی ندارد.
                </p>
            </div>
            
            <!-- <div class="ui top attached clearing segment">
                <h3 class="ui left floated header" style="font-size: 1.3em">ثبت نام</h3>
                <h3 class="ui right floated header" style="font-size: 1.3em">
                    مبلغ قابل پرداخت:
                    {{ totalPrice | persianNumber }}
                    هزار تومان
                </h3>
            </div>
            <form class="ui attached segment" #registerForm="ngForm" (ngSubmit)="sendRegisterRequest(registerForm)">
                <div class="ui form">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <input type="text" name="fname" placeholder="نام" ngModel required>
                            </div>
                            <div class="field">
                                <input type="text" name="lname" placeholder="نام خانوادگی" ngModel required>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <input type="email" name="email" placeholder="ایمیل" ngModel required>
                        </div>
                        <div class="field">
                            <input type="tel" name="phone" placeholder="تلفن" ngModel required>
                        </div>
                    </div>
                    <input type="submit" class="ui primary button" value="ثبت نام و پرداخت">
                    
                </div>
            </form> -->
        </div>
    </div>
</div>

<app-footer></app-footer>
