<div class="ui">
    <div class="ui segment vertical masthead inverted center aligned">
        <div class="ui text container">
            <h1 class="header">
                کارگاه های خفن خفن
            </h1>
        </div>
    </div>
    
    <div class="ui segment vertical stripe">
        <div class="ui container">
            <div class="ui stackable cards four"> 
                <div class="ui card">
                    <div class="image">
                        <img src="https://semantic-ui.com/images/wireframe/image.png">
                        <sui-dimmer [(isDimmed)]='isDimmed0' [isClickable]="false">
                            <h3>
                                اضافه شد
                                <i class="checkmark icon"></i>
                            </h3>
                        </sui-dimmer>
                    </div>
                    <div class="content">
                        <div class="header">کارگاه ۱</div>
                        <div class="meta">
                            <span class="date">۲ هفته ای</span>
                        </div>
                        <div class="description">
                            کارگاه خیلی خوبیه کلی چیز بهتون یاد میدن البته یاد گرفتن یا 
                            نگرفتنش بستگی به استعداد داشته یا نداشتتون داره
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui left labeled button" tabindex="0">
                            <div class="ui basic label">
                                <i class="money icon"></i> صد هزار تومن!
                            </div>
                            <div class="ui icon button" (click)="isDimmed0 = !isDimmed0; togglePurchaseItem(0)">
                                خرید   <i class="shopping bag icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="https://semantic-ui.com/images/wireframe/image.png">
                        <sui-dimmer [(isDimmed)]='isDimmed1' [isClickable]="false">
                            <h3>
                                اضافه شد
                                <i class="checkmark icon"></i>
                            </h3>
                        </sui-dimmer>
                    </div>
                    <div class="content">
                        <div class="header">کارگاه ۲</div>
                        <div class="meta">
                            <span class="date">۱ هفته ای</span>
                        </div>
                        <div class="description">
                            کارگاه خیلی خوبیه کلی چیز بهتون یاد میدن البته یاد گرفتن یا 
                            نگرفتنش بستگی به استعداد داشته یا نداشتتون داره
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui left labeled button" tabindex="0">
                            <div class="ui basic label">
                                <i class="money icon"></i> بیستر هزار تومان!
                            </div>
                            <div class="ui icon button" (click)="isDimmed1 = !isDimmed1; togglePurchaseItem(1)">
                                خرید   <i class="shopping bag icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="https://semantic-ui.com/images/wireframe/image.png">
                        <sui-dimmer [(isDimmed)]='isDimmed2' [isClickable]="false">
                            <h3>
                                اضافه شد
                                <i class="checkmark icon"></i>
                            </h3>
                        </sui-dimmer>
                    </div>
                    <div class="content">
                        <div class="header">کارگاه ۳</div>
                        <div class="meta">
                            <span class="date">۲ هفته ای</span>
                        </div>
                        <div class="description">
                            کارگاه خیلی خوبیه کلی چیز بهتون یاد میدن البته یاد گرفتن یا 
                            نگرفتنش بستگی به استعداد داشته یا نداشتتون داره
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui left labeled button" tabindex="0">
                            <div class="ui basic label">
                                <i class="money icon"></i> صد هزار تومن!
                            </div>
                            <div class="ui icon button" (click)="isDimmed2 = !isDimmed2; togglePurchaseItem(2)">
                                خرید   <i class="shopping bag icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="https://semantic-ui.com/images/wireframe/image.png">
                        <sui-dimmer [(isDimmed)]='isDimmed3' [isClickable]="false">
                            <h3>
                                اضافه شد
                                <i class="checkmark icon"></i>
                            </h3>
                        </sui-dimmer>
                    </div>
                    <div class="content">
                        <div class="header">کارگاه ۴</div>
                        <div class="meta">
                            <span class="date">۲ هفته ای</span>
                        </div>
                        <div class="description">
                            کارگاه خیلی خوبیه کلی چیز بهتون یاد میدن البته یاد گرفتن یا 
                            نگرفتنش بستگی به استعداد داشته یا نداشتتون داره
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui left labeled button" tabindex="0">
                            <div class="ui basic label">
                                <i class="money icon"></i> صد هزار تومن!
                            </div>
                            <div class="ui icon button" (click)="isDimmed3 = !isDimmed3; togglePurchaseItem(3)">
                                خرید   <i class="shopping bag icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="header">ثبت نام</h2>
            {{ totalPrice }}
        </div>
    </div>
    
    <div class="ui vertical stripe">
        <h1>Hi</h1>
    </div>
</div>