<div class="ui">
    <div class="ui segment vertical masthead inverted center aligned">
        <div class="ui text container">
            <h1 class="header">
                کارگاه های خفن خفن
            </h1>
        </div>
    </div>
    
    <div class="ui segment vertical stripe">
        <div class="ui container">
            <div class="ui stackable cards four segment piled"> 
                <div class="ui card">
                    <div class="image">
                        <img src="https://semantic-ui.com/images/wireframe/image.png">
                        <sui-dimmer [(isDimmed)]='isDimmed0' [isClickable]="false">
                            <h3>
                                اضافه شد
                                <i class="checkmark icon"></i>
                            </h3>
                        </sui-dimmer>
                    </div>
                    <div class="content">
                        <div class="header">کارگاه ۱</div>
                        <div class="meta">
                            <span class="date">۲ هفته ای</span>
                        </div>
                        <div class="description">
                            کارگاه خیلی خوبیه کلی چیز بهتون یاد میدن البته یاد گرفتن یا 
                            نگرفتنش بستگی به استعداد داشته یا نداشتتون داره
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui left labeled button" tabindex="0">
                            <div class="ui basic label">
                                <i class="money icon"></i> صد هزار تومن!
                            </div>
                            <div class="ui icon button" (click)="isDimmed0 = !isDimmed0; togglePurchaseItem(0)">
                                خرید   <i class="shopping bag icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="https://semantic-ui.com/images/wireframe/image.png">
                        <sui-dimmer [(isDimmed)]='isDimmed1' [isClickable]="false">
                            <h3>
                                اضافه شد
                                <i class="checkmark icon"></i>
                            </h3>
                        </sui-dimmer>
                    </div>
                    <div class="content">
                        <div class="header">کارگاه ۲</div>
                        <div class="meta">
                            <span class="date">۱ هفته ای</span>
                        </div>
                        <div class="description">
                            کارگاه خیلی خوبیه کلی چیز بهتون یاد میدن البته یاد گرفتن یا 
                            نگرفتنش بستگی به استعداد داشته یا نداشتتون داره
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui left labeled button" tabindex="0">
                            <div class="ui basic label">
                                <i class="money icon"></i> بیستر هزار تومان!
                            </div>
                            <div class="ui icon button" (click)="isDimmed1 = !isDimmed1; togglePurchaseItem(1)">
                                خرید   <i class="shopping bag icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="https://semantic-ui.com/images/wireframe/image.png">
                        <sui-dimmer [(isDimmed)]='isDimmed2' [isClickable]="false">
                            <h3>
                                اضافه شد
                                <i class="checkmark icon"></i>
                            </h3>
                        </sui-dimmer>
                    </div>
                    <div class="content">
                        <div class="header">کارگاه ۳</div>
                        <div class="meta">
                            <span class="date">۲ هفته ای</span>
                        </div>
                        <div class="description">
                            کارگاه خیلی خوبیه کلی چیز بهتون یاد میدن البته یاد گرفتن یا 
                            نگرفتنش بستگی به استعداد داشته یا نداشتتون داره
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui left labeled button" tabindex="0">
                            <div class="ui basic label">
                                <i class="money icon"></i> صد هزار تومن!
                            </div>
                            <div class="ui icon button" (click)="isDimmed2 = !isDimmed2; togglePurchaseItem(2)">
                                خرید   <i class="shopping bag icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="https://semantic-ui.com/images/wireframe/image.png">
                        <sui-dimmer [(isDimmed)]='isDimmed3' [isClickable]="false">
                            <h3>
                                اضافه شد
                                <i class="checkmark icon"></i>
                            </h3>
                        </sui-dimmer>
                    </div>
                    <div class="content">
                        <div class="header">کارگاه ۴</div>
                        <div class="meta">
                            <span class="date">۲ هفته ای</span>
                        </div>
                        <div class="description">
                            کارگاه خیلی خوبیه کلی چیز بهتون یاد میدن البته یاد گرفتن یا 
                            نگرفتنش بستگی به استعداد داشته یا نداشتتون داره
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui left labeled button" tabindex="0">
                            <div class="ui basic label">
                                <i class="money icon"></i> صد هزار تومن!
                            </div>
                            <div class="ui icon button" (click)="isDimmed3 = !isDimmed3; togglePurchaseItem(3)">
                                خرید   <i class="shopping bag icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="ui top attached clearing segment">
                <h3 class="ui left floated header" style="font-size: 1.3em">ثبت نام</h3>
                <h3 class="ui right floated header" style="font-size: 1.3em">
                    مبلغ قابل پرداخت:
                    {{ totalPrice }}
                    تومان
                </h3>
            </div>
            <div class="ui attached segment">
                <div class="ui form">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <input type="text" name="fname" placeholder="نام">
                            </div>
                            <div class="field">
                                <input type="text" name="lname" placeholder="نام خانوادگی">
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <input type="email" name="email" placeholder="ایمیل">
                        </div>
                        <div class="field">
                            <input type="tel" name="phone" placeholder="تلفن">
                        </div>
                    </div>
                    <button class="ui primary button">
                        ثبت نام و پرداخت
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>