<div class="ui">
  <div class="ui segment vertical masthead inverted center aligned">
    <div class="ui text container">
      <h1 class="header">
        اولین دوره مسابقات داده‌‌کاوی امیرکبیر
      </h1>
    </div>
  </div>
  
  <div class="ui segment vertical stripe">
    <div class="ui grid stackable text container">
      <div class="row">
        <div class="ui justified container">
          <p>
            اولین دوره مسابقات ملی داده‌کاوی امیرکبیر با همکاری شرکت تجارت الکترونیکی ارتباط فردا با محوریت کاوش در کلان‌ داده‌های بانکی در سال ۹۶ برگزار گردید.
          </p>
          <p>
            این دوره متشکل از ۴ کارگاه آموزشی پایتون مقدماتی، تئوری داده، داده‌کاوی با پایتون و
            کلان‌داده‌ها به همراه ارائه‌ی کلان‌ داده‌ّهای بانکی توسط تیم‌ فنی شرکت تجارت
            الکترونیکی ارتباط فردا بود، که به مدت دو هفته در دانشکده مهندسی
            کامپیوتر و فناوری اطلاعات دانشگاه صنعتی امیرکبیر تشکیل گردید.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="column eight wide">
          <img src="../../assets/past/workshop1.jpg" class="ui large centered image">
        </div>
        <div class="column eight wide">
          <img src="../../assets/past/workshop2.jpg" class="ui large centered image">
        </div>
      </div>
      
      <div class="row">
        <div class="ui justified container">
          <p>
            پس از اتمام کارگاه‌های آموزشی، مسابقه از تاریخ ۱۶ مهر ماه به مدت ۱۸روز با حضور ۹۵ تیم از سراسر کشور به صورت غیرحضوری برگزار شد. 
          </p>
          <p>
            پس از بررسی نتایج تیم‌ّها توسط تیم داوری مسابقات متشکل از اساتید،
            دانشجویان کارشناسی ارشد و کارشناسی 
            دانشکده مهندسی کامپیوتر و فناوری اطلاعات دانشگاه صنعتی امیرکبیر به همراه تیم فنی شرکت تجارت الکترونیکی ارتباط فردا
            ، اسامی ۵ تیم برتر اعلام گردید و از آن‌ها دعوت شد که جهت ارائه حضوری نتایج
            و روش حل مسئله در تاریخ ۱۰ آبان ۹۶ در مراسم اختتامیه که با حضور ریاست
            محترم دانشکده مهندسی کامپیوتر و فناوری اطلاعات دانشگاه صنعتی امیرکبیر 
            و نمایندگان شرکت تجارت الکترونیک ارتباط فردا در آمفی‌تئاتر
            دانشکده مهندسی کامپیوتر برگزار گردید، شرکت نمایند.
          </p>
          <p>
            ارائه هر تیم توسط تیم داوری مورد بررسی قرار گرفت
            و در نهایت سه تیم برتر اولین دوره مسابقات ملی 
            داده‌کاوی دانشگاه صنعتی امیرکبیر انتخاب گردیدند.
          </p>
        </div>
      </div>
      
      <div class="row">
        <div class="column">
          <img src="../../assets/past/team_rep.JPG" alt="teams" class="ui huge centered image">
        </div>
      </div>
      
      <div class="row">
        <div class="ui justified container">
          <h2 class="ui dividing header">
            <i class="trophy icon"></i>
            جوایز
          </h2>
          <p>
            جوایز این دوره از مسابقات به ترتیب چهار، سه و دو میلیون تومان بود.
          </p>
          <!-- first team -->
          <h3 class="ui header">
            تیم اول
            <div class="sub header">
              تکس مکس ساده
            </div>
          </h3>
          <img src="../../assets/past/first_team.JPG" alt="teams" class="ui huge centered image">
          <!-- second team -->
          <h3 class="ui header">
            تیم دوم
            <div class="sub header">
              abalone
            </div>
          </h3>
          <img src="../../assets/past/second_team.JPG" alt="teams" class="ui huge centered image">
          <!-- third team -->
          <h3 class="ui header">
            تیم سوم
            <div class="sub header">
              DOS
            </div>
          </h3>
          <img src="../../assets/past/third_team.JPG" alt="teams" class="ui huge centered image">
        </div>
      </div>
    </div>
  </div>
  
</div>

<app-footer></app-footer>