<div class="ui">
  <div class="ui segment vertical stripe">
    <div class="ui text container">
      <div class="row">
        <div class="ui justified container">
          <p>
            اولین دوره مسابقات ملی داده‌کاوی امیرکبیر با همکاری شرکت تجارت الکترونیکی ارتباط فردا با محوریت کاوش در کلان‌ داده‌های بانکی در سال ۹۶ برگزار گردید.
          </p>
          <p>
            این دوره متشکل از ۴ کارگاه آموزشی پایتون مقدماتی، تئوری داده، داده‌کاوی با پایتون و
             کلان‌داده‌ها به همراه ارائه‌ی کلان‌ داده‌ّهای بانکی توسط تیم‌ فنی شرکت تجارت
             الکترونیکی ارتباط فردا بود، که به مدت دو هفته در دانشکده مهندسی
             کامپیوتر و فناوری اطلاعات دانشگاه صنعتی امیرکبیر تشکیل گردید.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>