<div class="ui">
    <div class="ui segment vertical masthead inverted center aligned">
        <div class="ui text container">
            <h1 class="header">
                مسابقه داده کاوی
            </h1>
        </div>
    </div>
    
    <div class="ui segment vertical stripe">
        <div class="ui grid middle aligned container">
            <div class="row">
                <div class="column ten wide">
                    <div class="ui justified container">
                        <p>
                            اولین دوره مسابقات داده‌کاوی امیرکبیر با محوریت کاوش داده‌های حجیم بانکی و تراکنشات آن‌ها برگزار می‌شود که
                            طی آن شرکت‌کنندگان با چالش‌‌های واقعی روبرو شده و با استفاده 
                            از دانش فنی خود، به حل کردن و مقابله با این چالش‌ها می‌پردازند و سطح دانش علمی و توانایی فنی خود را بالا می‌برند.
                            طی این مسابقه، مسائلی از چالش‌هایی که بانک‌ها با آن‌ها روبرو هستند مطرح شده و شرکت‌کنندگان 
                            می‌بایست قسمتی از مشکلات واقعی بانکی را حل کنند و راه‌حل مناسب ارائه دهند.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui segment vertical stripe">
        <div class="ui stackable grid container">
            <h3>
                جوایز
            </h3>
        </div>
    </div>
</div>

<app-footer></app-footer>