<div class="ui">
    <div class="ui segment vertical masthead inverted center aligned">
        <div class="ui text container">
            <h1 class="header">
                اولین دوره مسابقات داده‌‌کاوی امیرکبیر
            </h1>
        </div>
    </div>
    
    <div class="ui segment vertical stripe">
        <div class="ui grid middle aligned container">
            <div class="row">
                <div class="ui justified container">
                    <p>
                        اولین دوره مسابقات داده‌کاوی امیرکبیر با محوریت کاوش داده‌های حجیم بانکی و تراکنشات آن‌ها برگزار می‌شود که
                        طی آن شرکت‌کنندگان با چالش‌‌های واقعی روبرو شده و با استفاده 
                        از دانش فنی خود، به حل کردن و مقابله با این چالش‌ها می‌پردازند و سطح دانش علمی و توانایی فنی خود را بالا می‌برند.
                        طی این مسابقه، مسائلی از چالش‌هایی که بانک‌ها با آن‌ها روبرو هستند مطرح شده و شرکت‌کنندگان 
                        می‌بایست قسمتی از مشکلات واقعی بانکی را حل کنند و راه‌حل مناسب ارائه دهند.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui segment center aligned vertical stripe">
        <div class="ui centered stackable grid">
            <div class="four wide column">
                <div class="ui fluid vertical left aligned steps">
                    <div class="active step">
                        <i class="hourglass start icon"></i>
                        <div class="content">
                            <div class="title">
                                افتتاحیه 
                            </div>
                            <div class="description">
                                ۱۶ مهر۱۳۹۶
                            </div>
                        </div>
                    </div>
                    <div class="step">
                        <i class="hourglass end icon"></i>
                        <div class="content">
                            <div class="title">
                                شروع مسابقه غیر حضوری
                            </div>
                            <div class="description">
                                ۱۶ مهر ۱۳۹۶
                            </div>
                        </div>
                    </div>
                    <div class="step">
                        <i class="list icon"></i>
                        <div class="content">
                            <div class="title">
                                اتمام مهلت مرحله اول
                                
                            </div>
                            <div class="description">
                                ۱ آبان ۱۳۹۶
                            </div>
                        </div>
                    </div>
                    <div class="step">
                        <i class="calendar outline icon"></i>
                        <div class="content">
                            <div class="title">
                                اعلام نتایج مرحله اول                                
                                
                            </div>
                            <div class="description">
                                ۳ آبان ۱۳۹۶
                            </div>
                        </div>
                    </div>
                    <div class="step">
                        <i class="idea icon"></i>
                        <div class="content">
                            <div class="title">
                                ارائه نتایج ( تیم های برتر)
                            </div>
                            <div class="description">
                                ۵ آبان ۱۳۹۶
                            </div>
                        </div>
                    </div>
                    <div class="step">
                        <i class="trophy icon"></i>
                        <div class="content">
                            <div class="title">
                                اختتامیه و اهدای جوایز
                            </div>
                            <div class="description">
                                ۵ آبان
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui vertical divider"></div>
            <div class="four wide column">
                <div class="ui segment">
                    <div class="header">
                        <h3>
                            جوایز
                            <i class="trophy icon"></i>
                        </h3>
                    </div>
                    <hr>
                    <a class="ui yellow ribbon label">تیم اول</a>
                    <p><strong>۴ میلیون تومان</strong></p>
                    <a class="ui gray ribbon label">تیم دوم</a>
                    <p><strong>۳ میلیون تومان</strong></p>
                    <a class="ui brown ribbon label">تیم سوم</a>
                    <p><strong>۲ میلیون تومان</strong></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui segment vertical stripe">
        <div class="ui stackable container">
            <div class="ui info message">
                <p>
                    <i class="info icon"></i>
                    هزینه ثبت نام برای هر تیم ۱۰ هزار تومان است
                </p>
                <p>
                    <i class="info icon"></i>
                    حداکثر تعداد اعضای تیم، ۵ نفر می‌باشد
                </p>
            </div>
            <div class="ui yellow message">
                <div class="header">
                    توجه
                </div>
                <p>
                    بعد از ثبت نام ، به صفحه ای دیگر برای پرداخت منتقل خواهید شد.
                </p>
            </div>
            <form class="ui form" #registerForm="ngForm" (ngSubmit)="sendRegisterRequest(registerForm)">
                <h4 class="ui dividing header">
                    ثبت نام
                    {{ selected | json }}
                </h4>
                
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <input type="text" name="tname" placeholder="نام تیم" ngModel required>
                        </div>
                        <div class="field">
                            تعداد اعضا:
                            <div class="ui icon buttons">
                                <div class="ui button" (click)="addMember()" [ngClass]="{'disabled': teamNumber.length > 4}">
                                    <i class="add icon"></i>
                                </div>
                                <div class="ui button disabled">
                                    {{ teamNumber.length | persianNumber }}
                                </div>
                                <div class="ui button" (click)="removeMember()" [ngClass]="{'disabled': teamNumber.length < 2}">
                                    <i class="minus icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngFor="let member of teamNumber;">
                    <div class="field">
                        <label>عضو {{ member | persianNumber }}</label>
                        <div class="two fields">
                            <div class="field">
                                <input type="text" name="{{'fname' + member}}" placeholder="نام" [(ngModel)]="member.fname" required minlength="2" #fname="ngModel">
                                <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="alert alert-danger" class="error-message">
                                    
                                    <div *ngIf="fname.errors.required">
                                        این فیلد الزامی است
                                    </div>
                                    <div *ngIf="fname.errors.minlength">
                                        نام حداقل باید ۲ کاراکتر باشد
                                    </div>                    
                                </div>
                            </div>
                            <div class="field">
                                <input type="text" name="{{'lname' + member}}" placeholder="نام خانوادگی" [(ngModel)]="member.lname" required minlength="2" #lname="ngModel">
                                <div *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="alert alert-danger" class="error-message">
                                    
                                    <div *ngIf="lname.errors.required">
                                        این فیلد الزامی است
                                    </div>
                                    <div *ngIf="lname.errors.minlength">
                                        نام حداقل باید ۲ کاراکتر باشد
                                    </div>                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <input type="email" name="{{'email' + member}}" placeholder="ایمیل" [(ngModel)]="member.email" required email #email="ngModel">
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger" class="error-message">
                                
                                <div *ngIf="email.errors.required">
                                    این فیلد الزامی است
                                </div>
                                <div *ngIf="email.errors.email">
                                    ایمیل معتبر نیست
                                </div>                    
                            </div>
                        </div>
                        <div class="field">
                            <input type="tel" name="{{'phone' + member}}" placeholder="تلفن" ngModel required>
                        </div>
                    </div>
                </div>
                <input type="submit" class="ui primary button" value="ثبت نام و پرداخت">
                <div class="ui negative message" *ngIf="errorMessage">
                    <div class="heade">
                        خطا
                    </div>
                    <p>
                        {{ errorMessage }}
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>
