<div class="ui">
    <div class="ui segment vertical masthead inverted center aligned">
        <div class="ui text container">
            <h1 class="header">
                دومین دوره مسابقات داده‌‌کاوی امیرکبیر
            </h1>
        </div>
    </div>
    
    <div class="ui segment vertical stripe">
        <div class="ui grid middle aligned container">
            <div class="row">
                <div class="ui justified container">
                    <p>
                        دومین دوره مسابقات ملی داده‌کاوی امیرکبیر با همکاری شرکت علی‌بابا در دو مرحله برگزار می‌گردد.
                        مرحله اول با محوریت پیش‌بینی تقاضای خطوط هوایی و
                        مرحله دوم مسئله‌ای کاربردی در راستای مسئله مطرح شده در مرحله اول خواهد بود.
                        طی این مسابقه شرکت‌کنندگان با چالش‌‌های واقعی روبرو شده و با استفاده 
                        از دانش فنی خود، به حل کردن این چالش‌ها می‌پردازند و سطح دانش علمی و توانایی فنی خود را بالا می‌برند.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui segment center aligned vertical stripe">
        <div class="ui centered stackable grid">
            <div class="four wide column">
                <div class="ui fluid vertical left aligned steps">
                    <div class="step">
                        <i class="hourglass end icon"></i>
                        <div class="content">
                            <div class="title">
                                مسابقه غیر حضوری مرحله‌ی اول
                            </div>
                            <div class="description">
                                ۱ بهمن ۱۳۹۷
                            </div>
                        </div>
                    </div>
                    <div class="step">
                        <i class="list icon"></i>
                        <div class="content">
                            <div class="title">
                                اتمام مهلت مرحله‌ی اول
                            </div>
                            <div class="description">
                                ۱۵ بهمن ۱۳۹۷
                            </div>
                        </div>
                    </div>
                    <div class="step">
                        <i class="calendar outline icon"></i>
                        <div class="content">
                            <div class="title">
                                اعلام نتایج مرحله‌ی اول
                            </div>
                            <div class="description">
                                ۲۲ بهمن ۱۳۹۷
                            </div>
                        </div>
                    </div>
                    
                    <div class="step">
                        <i class="hourglass end icon"></i>
                        <div class="content">
                            <div class="title">
                                مسابقه غیر حضوری مرحله‌ی دوم
                            </div>
                            <div class="description">
                                ۲۳ بهمن ۱۳۹۷
                            </div>
                        </div>
                    </div>
                    <div class="step">
                        <i class="list icon"></i>
                        <div class="content">
                            <div class="title">
                                اتمام مهلت مرحله‌ی دوم
                            </div>
                            <div class="description">
                                ۷ اسفند ۱۳۹۷
                            </div>
                        </div>
                    </div>
                    <div class="step">
                        <i class="calendar outline icon"></i>
                        <div class="content">
                            <div class="title">
                                اعلام نتایج مرحله‌ی دوم
                            </div>
                            <div class="description">
                                ۱۱ اسفند ۱۳۹۷
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="step">
                        <i class="trophy icon"></i>
                        <div class="content">
                            <div class="title">
                                ارائه‌ی حضوری و اهدا جوایز
                            </div>
                            <div class="description">
                                ۱۳ اسفند ۱۳۹۷
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui vertical divider"></div>
            <div class="four wide column">
                <div class="ui segment">
                    <div class="header">
                        <h3>
                            جوایز
                            <i class="trophy icon"></i>
                        </h3>
                    </div>
                    <hr>
                    <a class="ui yellow ribbon label">تیم اول</a>
                    <p><strong>۴ میلیون تومان</strong></p>
                    <a class="ui gray ribbon label">تیم دوم</a>
                    <p><strong>۳ میلیون تومان</strong></p>
                    <a class="ui brown ribbon label">تیم سوم</a>
                    <p><strong>۲ میلیون تومان</strong></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui segment vertical stripe">
        <div class="ui active dimmer" *ngIf="isRegisterOver">
            <div class="content">
                <div class="center">
                    <h2 class="ui inverted icon header">
                        <i class="hourglass end icon"></i>
                        مهلت ثبت نام به پایان رسید
                    </h2>
                </div>
            </div>
        </div>
        
        <div class="ui stackable container">
            <div>
                <h3>
                    درباره‌ی مسابقه
                </h3>
                <p>
                    ۱. مسابقه جاج و رنک لیست آنلاین خواهد داشت.
                </p>
                <p>
                    ۲. به ۲۰ تیم برتر مرحله اول پکیچ یادگاری مسابقه از طرف شرکت علی‌بابا، اسپانسر مسابقات، اهدا خواهد شد.
                </p>
                <p>
                    ۳. لازمه‌ی ورود به مرحله‌ی دوم برگزیده شدن در مرحله‌ی اول مسابقه است.
                </p>
                <p>
                    ۴. با نظر داوران
                    <strong>حداقل ۱۵ تیم</strong>
                    برتر مرحله اول به مرحله دوم مسابقه راه پیدا خواهند کرد.
                </p>
            </div>
            <div class="ui info message">
                <p>
                    <i class="info icon"></i>
                    هزینه ثبت نام برای هر تیم ۱۵ هزار تومان است
                </p>
                <p>
                    <i class="info icon"></i>
                    حداکثر تعداد اعضای تیم، ۳ نفر می‌باشد
                </p>
            </div>
            <div class="ui yellow message">
                <div class="header">
                    توجه
                </div>
                <p>
                    <i class="info icon"></i>
                    نفر اول تیم به عنوان سرگروه تیم در نظر گرفته می‌شود.
                </p>
                <p>
                    <i class="info icon"></i>
                    بعد از ثبت نام، به صفحه ای دیگر برای پرداخت منتقل خواهید شد. حداکثر پس از ۱۲ ساعت از انجام پرداخت، حساب شما تایید و اطلاعات ورود از طریق ایمیل ارسال خواهد شد.
                </p>
                <p>
                    <i class="info icon"></i>
                    در صورت مشکل در ورود به صفحه‌ی پرداخت، می‌توانید از 
                    <a href="https://educenter.aut.ac.ir/dmc2019" target="blank">این لینک</a>
                    استفاده کنید.
                </p>
                <p>
                    <i class="info icon"></i>
                    برای آگاهی سریع‌تر از  خبرهای مسابقه عضو کانال تلگرام 
                    <a href="http://t.me/autdmc" target="blank">@autdmc</a>
                    شوید.
                </p>

            </div>
            <form class="ui form" #registerForm="ngForm" (ngSubmit)="sendRegisterRequest(registerForm)">
                <h4 class="ui dividing header">
                    ثبت نام
                    {{ selected | json }}
                </h4>
                
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <input type="text" name="tname" placeholder="نام تیم" ngModel required>
                        </div>
                        <div class="field">
                            تعداد اعضا:
                            <div class="ui icon buttons">
                                <div class="ui button" (click)="addMember()" [ngClass]="{'disabled': teamNumber.length > teamSizeLimitation - 1}">
                                    <i class="add icon"></i>
                                </div>
                                <div class="ui button disabled">
                                    {{ teamNumber.length | persianNumber }}
                                </div>
                                <div class="ui button" (click)="removeMember()" [ngClass]="{'disabled': teamNumber.length < 2}">
                                    <i class="minus icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngFor="let member of teamNumber;">
                    <div class="field">
                        <label>عضو {{ member | persianNumber }}</label>
                        <div class="two fields">
                            <div class="field">
                                <input type="text" name="{{'fname' + member}}" placeholder="نام" [(ngModel)]="member.fname" required minlength="2" #fname="ngModel">
                                <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="alert alert-danger" class="error-message">
                                    
                                    <div *ngIf="fname.errors.required">
                                        این فیلد الزامی است
                                    </div>
                                    <div *ngIf="fname.errors.minlength">
                                        نام حداقل باید ۲ کاراکتر باشد
                                    </div>                    
                                </div>
                            </div>
                            <div class="field">
                                <input type="text" name="{{'lname' + member}}" placeholder="نام خانوادگی" [(ngModel)]="member.lname" required minlength="2" #lname="ngModel">
                                <div *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="alert alert-danger" class="error-message">
                                    
                                    <div *ngIf="lname.errors.required">
                                        این فیلد الزامی است
                                    </div>
                                    <div *ngIf="lname.errors.minlength">
                                        نام حداقل باید ۲ کاراکتر باشد
                                    </div>                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <input type="email" name="{{'email' + member}}" placeholder="ایمیل" [(ngModel)]="member.email" required email #email="ngModel">
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger" class="error-message">
                                
                                <div *ngIf="email.errors.required">
                                    این فیلد الزامی است
                                </div>
                                <div *ngIf="email.errors.email">
                                    ایمیل معتبر نیست
                                </div>                    
                            </div>
                        </div>
                        <div class="field">
                            <input type="tel" name="{{'phone' + member}}" placeholder="تلفن" [(ngModel)]="member.phone" required #phone="ngModel">
                            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger" class="error-message">
                                
                                <div *ngIf="phone.errors.required">
                                    این فیلد الزامی است
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" class="ui primary button" value="ثبت نام و پرداخت">
                <div class="ui negative message" *ngIf="errorMessage">
                    <div class="heade">
                        خطا
                    </div>
                    <p>
                        {{ errorMessage }}
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>
