<form class="ui form" #loginForm="ngForm" (ngSubmit)="login(loginForm)" *ngIf="!loggedIn">
    <div class="ui middle aligned center aligned grid">
        <div class="four wide column">
            <div class="field">
                <input type="text" name="username" placeholder="نام کاربری" ngModel required>
            </div>
            <div class="field">
                <input type="password" name="password" placeholder="رمز عبور" ngModel required>
            </div>
            <button class="ui button">
                ورود
            </button>
        </div>
    </div>
</form>


<div class="ui container">
    <table class="ui celled table" *ngIf="submittionHistories">
        <thead>
            <tr>
                <th>تیم</th>
                <th>نام فایل</th>
                <th>زمان</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let submittion of submittionHistories">
                <td>
                    {{ submittion.user }}
                </td>
                <td>
                    {{ submittion.fileName }}
                </td>
                <td>
                    {{ submittion.uploadTime / 1000 | persianDate | persianNumber }}
                    - 
                    {{ submittion.uploadTime / 1000 | hourMin | persianNumber }}
                </td>
            </tr>
        </tbody>
    </table>
    
    <table class="ui celled table" *ngFor="let team of teams" [ngClass]="{orange: !team.validated, green: team.validated}">
        <thead>
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>ایمیل</th>
                <th>تلفن</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>
                    <i class="user icon"></i>
                    {{ team.team_lead.first_name }}
                </td>
                <td>
                    {{ team.team_lead.last_name }}
                </td>
                <td>
                    {{ team.team_lead.email }}
                </td>
                <td>
                    {{ team.team_lead.cellphone }}
                </td>
            </tr>
            <tr *ngFor="let member of team.team_members">
                <td>
                    <i class="user outline icon"></i>
                    {{ member.first_name }}
                </td>
                <td>
                    {{ member.last_name }}
                </td>
                <td>
                    {{ member.email }}
                </td>
                <td>
                    {{ member.cellphone }}
                </td>
            </tr>
        </tbody>
        
        <tfoot>
            <tr>
                <th>
                    نام تیم:
                    {{ team.team_name }}
                </th>
                <th>
                    تعداد اعضا:
                    {{ team.size }}
                </th>
                <th>
                    <button *ngIf="!team.validated" (click)="validateTeam(team._id)" class="positive ui button">
                        تایید تیم
                    </button>
                </th>
            </tr>
        </tfoot>
    </table>
</div>