<div class="ui container">
    <div class="ui secondary pointing menu">
        <a class="active item">
            سوالات
        </a>
        <a class="item">
            ارسال پاسخ
        </a>
        <a class="item">
            اطلاعات تیم
        </a>
        <div class="right menu">
            <a class="ui item">
                خروج
            </a>
        </div>
    </div>
    
    <div class="ui segment">
        <h3 class="ui header">
            توضیحات
        </h3>
        <p>
            فایلی که در اختیار شما قرار گرفته است شامل توضیحاتی پیرامون مسابقه، تسک کلی و دیتا های
            مورد نیاز است، از قسمت زیر می‌توانید فایل را دانلود کنید.
        </p>

        <div class="ui button">
            <i class="cloud download icon"></i>
            دانلود فایل
        </div>
    </div>
</div>