<div class="ui container">
    <div class="ui secondary pointing menu">
        <a class="item" (click)="menuState = 3" [ngClass]="{'active': menuState == 3}">
            اخبار
        </a>
        <a class="item" (click)="menuState = 0" [ngClass]="{'active': menuState == 0}">
            سوالات
        </a>
        <a class="item" (click)="menuState = 1" [ngClass]="{'active': menuState == 1}">
            ارسال پاسخ
        </a>
        <a class="item" (click)="menuState = 5" [ngClass]="{'active': menuState == 5}">
            جدول امتیازات
        </a>
        <a class="item" (click)="menuState = 2" [ngClass]="{'active': menuState == 2}">
            اطلاعات تیم
        </a>
        <div class="right menu">
            <a class="ui item" (click)="logout()">
                خروج
            </a>
        </div>
    </div>
    
    <div class="ui segment submit-section imp-section" *ngIf="menuState == 3">
        <h3 class="ui header">
            اخبار
        </h3>
        <div class="ui green message" *ngFor="let n of news">
            <h4>
                {{n.title}}
            </h4>
            <p [innerHTML]="n.body">
            </p>
        </div>
        <h3 class="ui header">
            نکات مهم
        </h3>
        ۱. توجه داشته باشید که هر تیم می‌تواند حداکثر روزی ۵ آپلود جواب داشته باشد.
        <br>
        ۲. آخرین مهلت جهت ارسال فایل جواب تا
        <strong>پایان روز ۱۴ بهمن</strong>
        خواهد بود.
        <br>
        ۳. آخرین مهلت جهت ارسال گزارش و کد تا 
        <strong>پایان روز ۱۵ بهمن</strong>
        خواهد بود. در ضمن بدون داشتن گزارش و کد امکان حضور در مرحله دوم
        <strong>وجود ندارد</strong>.
        <br>
        ۴. پس از بررسی نتایج و گزارشات توسط تیم داوری رنک لیست نهایی تیم‌ها اعلام خواهد شد و بر اساس نظر این گروه حداقل ۱۵ تیم به مرحله دوم مسابقه راه پیدا خواهند کرد.
        <br>
        ۵. در صورت داشتن هرگونه ابهام و یا سوال از مسئله و یا دیتای مسابقه
        <strong>فقط</strong>
        با ایمیل autdmc@gmail.com در ارتباط باشید.
        <br>
    </div>
    
    <div class="ui segment" *ngIf="menuState == 0">
        <sui-dimmer [isDimmed]="checkDayCounter(1548048600000)" [isClickable]="!!false">
            <h2 class="ui inverted icon header">
                <i class="hourglass empty icon"></i>
                لطفا تا شروع مسابقه صبر کنید.
            </h2>
        </sui-dimmer>
        <h3 class="ui header">
            توضیحات
        </h3>
        <p>
            
        </p>
        
        <a href="http://autdmc.ir/problem/task.zip" class="ui primary button">
            <i class="cloud download icon"></i>
            فایل تسک
        </a>
        <a href="http://autdmc.ir/problem/test.csv" class="ui primary button">
            <i class="cloud download icon"></i>
            فایل داده‌های تست
        </a>
        <a href="http://autdmc.ir/problem/data.zip" class="ui primary button">
            <i class="cloud download icon"></i>
            فایل داده‌های اصلی
        </a>
    </div>
    
    <div class="ui segment submit-section" *ngIf="menuState == 1">
        <div class="ui warning message">
            <h4 class="header">
                توجه
            </h4>
            <p>
                حداکثر حجم فایل برای آپلود ۱ مگابایت است.
            </p>
            <p>
                آخرین فایلی که آپلود می‌کنید به عنوان جواب نهایی در نظر گرفته خواهد شد.
            </p>
        </div>
        <!-- Upload section -->
        <div class="ui">
            <!-- Upload button -->
            <span class="upload-fields">
                <input type="file" style="display: none;" #uploadInput (change)="onFileInputChanged($event)">
                <div class="ui left labeled button" tabindex="0">
                    <a class="ui basic right label">
                        سوال: 
                        {{ selectedProblem.title }}
                    </a>
                    <button class="ui button" (click)="uploadInput.click()">
                        {{ selectedFile?selectedFile.name:'انتخاب فایل' }}
                    </button>
                </div>
            </span>
            <!-- Do upload -->
            <button class="ui primary button" [ngClass]="{'disabled': !selectedFile, 'loading': isUploading}" (click)="onUploadFile()">
                ارسال پاسخ
            </button>
        </div>
        <div class="ui divider"></div>
        <div *ngIf="submittionHistory" class="submittion-history">
            <h4 class="ui header">
                تاریخچه پاسخ های ارسال شده
            </h4>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>وضعیت</th>
                        <th>امتیاز</th>
                        <th>تاریخ ثبت</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let submittion of submittionHistory; index as index" [ngClass]="{'positive': index == 0}">
                        <td>
                            {{ index+1 | persianNumber }}
                        </td>
                        <td>
                            {{ submittion.is_judged?'داوری شده':'داوری نشده' }}
                        </td>
                        <td>
                            {{ submittion.is_judged&&submittion.judge_error?'خطای داوری':'' }}
                            {{ submittion.is_judged&&!submittion.judge_error?submittion.judge_score:''|number:'1.1-3'  }}
                        </td>
                        <td>
                            {{ submittion.submitted_at | persianDate | persianNumber }}
                            --
                            {{ submittion.submitted_at | date:'HH:mm' | persianNumber }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="ui segment submit-section imp-section" *ngIf="menuState == 5">
        <h3 class="ui header">
            جدول امتیازات
        </h3>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>تیم</th>
                    <th>امتیاز</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entry of scoreBoard; index as index">
                    <td>
                        {{ index + 1 | persianNumber }}
                    </td>
                    <td>
                        {{ entry.team_name }}
                    </td>
                    <td>
                        {{ entry.score | number:'1.1-3' | persianNumber}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="ui" *ngIf="menuState == 2">
        <table class="ui celled table" [ngClass]="{orange: !team.validated, green: team.validated}">
            <thead>
                <tr>
                    <th>نام</th>
                    <th>نام خانوادگی</th>
                    <th>ایمیل</th>
                    <th>تلفن</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>
                        <i class="user icon"></i>
                        {{ team.team_lead.first_name }}
                    </td>
                    <td>
                        {{ team.team_lead.last_name }}
                    </td>
                    <td>
                        {{ team.team_lead.email }}
                    </td>
                    <td>
                        {{ team.team_lead.cellphone }}
                    </td>
                </tr>
                <tr *ngFor="let member of team.team_members">
                    <td>
                        <i class="user outline icon"></i>
                        {{ member.first_name }}
                    </td>
                    <td>
                        {{ member.last_name }}
                    </td>
                    <td>
                        {{ member.email }}
                    </td>
                    <td>
                        {{ member.cellphone }}
                    </td>
                </tr>
            </tbody>
            
            <tfoot>
                <tr>
                    <th>
                        نام تیم:
                        {{ team.team_name }}
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>