<div class="ui container">
    <div class="ui secondary pointing menu">
        <a class="item" (click)="menuState = 0" [ngClass]="{'active': menuState == 0}">
            سوالات
        </a>
        <a class="item" (click)="menuState = 1" [ngClass]="{'active': menuState == 1}">
            ارسال پاسخ
        </a>
        <a class="item" (click)="menuState = 2" [ngClass]="{'active': menuState == 2}">
            اطلاعات تیم
        </a>
        <div class="right menu">
            <a class="ui item" (click)="logout()">
                خروج
            </a>
        </div>
    </div>
    
    <div class="ui segment" *ngIf="menuState == 0">
        <h3 class="ui header">
            توضیحات
        </h3>
        <p>
            با شروع مسابقه، تیم ها می‌توانند در صفحه مربوط به تیم خود فایل task.zip را دانلود کنند که در آن توضیح مساله، داده ها و توضیحات مربوط به داده ها موجود است. از شرکت کنندگان انتظار می‌رود با استفاده از تکنیک های داده کاوی و یادگیری ماشین، مدل مناسبی برای پیش بینی متغیر هدف طراحی کنند.
            تیم ها تا قبل از پایان مسابقه فرصت دارند یک فایل csv با فرمتی که در توضیحات مساله شرح داده شده است، در صفحه تیم خود بارگذاری کنند. این فایل به عنوان پیش بینی های تیم شرکت کننده روی داده test در نظر گرفته خواهد شد و با مقادیر واقعی مقایسه و امتیاز تیم محاسبه خواهد شد. امکان بارگذاری مجدد وجود دارد، ولی فقط آخرین بارگذاری به عنوان پاسخ نهایی تیم در نظر گرفته خواهد شد.
        </p>
        
        <div class="ui primary button" (click)="downloadFile('AUT DMC 2017 - Task.pdf')">
            <i class="cloud download icon"></i>
            فایل تسک
        </div>
        <div class="ui primary button" (click)="downloadFile('AUT DMC 2017 - Features.pdf')">
            <i class="cloud download icon"></i>
            فایل ویژگی ها
        </div>
        <div class="ui primary button" (click)="downloadFile('data_v2.zip')">
            <i class="cloud download icon"></i>
            فایل دیتاها
        </div>
        <div class="ui info message">
            <h3 class="ui header">
                <i class="warning icon"></i>
                توجه
            </h3>
            <p>
                فایل دیتاها در تاریخ ۱۸ مهر بروز رسانی شد. لطفا از دیتاهای جدید استفاده نمایید.
            </p>
        </div>
    </div>
    
    <div class="ui segment submit-section" *ngIf="menuState == 1">
        <div class="ui active dimmer">
            <div class="ui text loader">
                آغاز نشده است
            </div>
        </div>
    </div>
    
    <div class="ui segment" *ngIf="menuState == 2">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>نام</th>
                    <th>ایمیل</th>
                    <th>تلفن</th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let member of team.user.members">
                    <td>
                        {{ member.name }}
                    </td>
                    <td>
                        {{ member.email }}
                    </td>
                    <td>
                        {{ member.number }}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        نام تیم:
                        {{ team.user.name }}
                    </th>
                    <th *ngIf="team.verification">
                        وضعیت پرداخت:
                        موفق
                    </th>
                    <th *ngIf="!team.verification">
                        وضعیت پرداخت:
                        انجام نشده
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>